/*
* spa.shell.css
* Shell styles
*/

.spa-shell-head, .spa-shell-head-logo, .spa-shell-head-acct, .spa-shell-head-search,
.spa-shell-main, .spa-shell-main-nav, .spa-shell-main-content,
.spa-shell-root, /*.spa-shell-chat,*/ .spa-shell-modal {
    position: absolute;
}
.spa-shell-head {
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
}
.spa-shell-head-logo {
    top: 4px;
    left: 8px;
    height: 32px;
    width: 150px;
    background: orange;
}

    .spa-shell-head-logo h1 {
        font : 800 22px/22px Arial, Helvetica, sans-serif;
        margin : 0;
    }
    .spa-shell-head-logo p {
        font : 800 10px/10px Arial, Helvetica, sans-serif;
        margin : 0;
    }

.spa-shell-head-acct {
    top : 4px;
    right : 0;
    width : 210px;
    height : 32px;
    line-height : 32px;
    background : #888;
    color : #fff;
    text-align : center;
    cursor : pointer;
    overflow : hidden;
    text-overflow : ellipsis;
}

.spa-shell-main {
    top: 40px;
    left: 0px;
    bottom: 40px;
    right: 0px;
}
.spa-shell-main-nav, .spa-shell-main-content {
    top: 0px;
    bottom: 0px;
}
.spa-shell-main-nav {
    width: 400px;
    background: #eee;
    z-index: 1;
}

.spa-shell-close .spa-shell-main-nav {
    width: 0px;
}
.spa-shell-main-content {
    left: 400px;
    right: 0px;
    background: #ddd;
}
.spa-shell-close .spa-shell-main-content {
    left: 0px;
}
.spa-shell-foot {
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
}

/*.spa-shell-chat {
    bottom: 0px;
    right: 0px;
    width: 300px;
    height: 15px;
    cursor: pointer;
    border-radius: 5px 0px 0px 0px;
    background: red;
    z-index: 1;
}
  .spa-shell-chat:hover {
    background: #a00;
  }*/

.spa-shell-modal {
    display: none;
    margin-top: -200px;
    margin-left: -200px;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    background: #fff;
    border-radius: 3px;
    z-index: 2;
}